.app {
	height: 720px;
	width: 1280px;
	border: 5px solid rgba(0, 0, 0, 0.185);
	margin: 4em auto;
	box-shadow: 5px 5px 10px 5px rgb(0, 0, 0);
	border-radius: 5px;
	position: relative;
	background-color: #757575;
}
